:root {
	/* Shopify Navigation Bar Colors */
	--nav50: #656266;
	--nav100: #616161;
	--nav200: #322f33;
	--nav300: #1c181d;

	/* Font Colors */
	--light: #e3e3e3;
	--mid: #616161;
	--dark: #475467;

	/* Stroke Colors */
	--stroke50: #ebebeb;
	--stroke100: rgba(0, 0, 0, 0.07);
	--stroke200: rgba(255, 255, 255, 0.2);
	--nav-search-stroke: #b5b5b5;

	/* State Colors */
	--hover: #f7f7f7;
	--pressed: #f0f0f0;
	--focused: #005bd3;

	/* Plain Colors */
	--white: #ffffff;
	--background: #f1f1f1;

	/* Other Colors */
	--dark-bg: #1a1a1a;
	--font-dark: #323232;
	--light-bg: #f3f3f3;

	/* Links */
	--link-blue: #005bd3;
}

/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}

/* Typography - line-height and font-weight */
.lineheight-13 {
	line-height: 1.3;
}

.lineheight-14 {
	line-height: 1.4;
}

.fontweight-400 {
	font-weight: 400;
}

.fontweight-500 {
	font-weight: 500;
}

.fontweight-600 {
	font-weight: 600;
}

.fontsize-12 {
	font-size: 12px;
}

.fontsize-13 {
	font-size: 13px;
}

.fontsize-14 {
	font-size: 14px;
}

.flex {
	display: flex;
}

.ai-center {
	align-items: center;
}

.jc-space {
	justify-content: space-between;
}

body {
	background: var(--background);
}

/* header styles */
header {
	display: flex;
	align-items: center;
	background-color: var(--nav300);
	padding: 12px 15px;
	position: relative;

	.search {
		position: relative;
		display: flex;
		align-items: center;
		flex: 1;
		border-radius: 8px;
		border: 1px solid var(--nav100);
		background-color: var(--nav200);
		padding: 5px;
		margin-left: 8px;

		svg path {
			fill: #b5b5b5;
		}

		input {
			&#input-search {
				padding: 2px;
				background-color: var(--nav200);
				border: 0;
				margin-left: 6px;
				color: #b5b5b5;
				&::placeholder {
					font-weight: 500;
					font-size: 13px;
					color: #b5b5b5;
				}
			}
		}
	}
	.notification-icon {
		margin: 8px;
	}
	.menu {
		height: 32px;
		width: 32px;
		background-color: rgb(54, 251, 161);
		color: rgba(0, 0, 0, 0.4);
		border-radius: 6px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 2px;

		.menu-container {
			position: absolute;
			top: calc(100% + 12px);
			right: 12px;
			width: 85%;
			background-color: white;
			border-radius: 8px;
			border: 1px solid #d8d8d8;
			box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
			color: var(--font-dark);
			// display: none;

			ul {
				list-style-type: none;
				li {
					padding: 2px 8px 2px;
					font-size: 13px;
					font-weight: 400;

					&.li-separator {
						border-top: 1px solid #e1e1e1;
					}

					.li-content {
						padding: 8px;
						border-radius: 8px;
					}

					.background-highlighted {
						background-color: var(--background);
						padding: 4px 8px;
					}

					img {
						margin-right: 8px;
						margin-left: -4px;
					}

					.initials {
						background-color: rgb(54, 251, 161);
						height: 28px;
						width: 28px;
						border-radius: 6px;
						display: flex;
						justify-content: center;
						align-items: center;
					}

					.collection {
						margin-left: 8px;
					}

					p {
						&.email {
							color: var(--nav100);
						}
					}
				}
			}
			&.active {
				display: block;
			}
		}
	}
}

main {
	margin-top: 30px;
}

/* Trial Callout */

main {
	.trial-callout-container {
		background-color: var(--dark-bg);
		display: flex;
		padding: 12px 8px 12px 18px;

		&.hidden {
			visibility: none;
			opacity: 0;
		}

		.trial-callout-details {
			p {
				color: var(--light);
			}
			.select-a-plan {
				border-radius: 6px;
				border: 1px solid var(--white);
				padding: 6px 12px;
				color: var(--font-dark);
				margin-top: 16px;
			}
		}
		.trial-callout-close {
			height: 20px;
			width: 20px;
		}
	}
}

/* Setup Guide */
.setup-guide-container {
	background-color: var(--white);
	margin-top: 16px;
	padding: 8px;

	.inner-guide {
		padding: 8px;
		display: flex;
		.setup-guide-details {
			flex: 1;
			.completed {
				display: flex;
				margin-top: 16px;
			}
			h1 {
				margin-bottom: 4px;
			}
			.setup-guide-progress-bar {
				width: 72px;
				margin-left: 8px;
				accent-color: black;
			}
		}
	}

	/* Options List */
	ul {
		display: none;
		margin-top: 16px;
		list-style-type: none;
		&.active {
			display: block;
		}
		li {
			padding: 8px 8px 12px;
			border-radius: 8px;
			background-size: 10px;
			font-size: 13px;
			font-weight: 500;

			.option-container {
				.option-header {
					display: flex;
					align-items: center;

					p {
						margin-left: 10px;
					}

					svg {
						fill: var(--white);
					}
				}
				.option-details {
					margin-left: 34px;
					display: none;
					p {
						margin: 16px 0;
						display: inline-block;
						a {
							text-decoration: none;
							cursor: pointer;
							&:link,
							&:visited,
							&:active {
								color: var(--link-blue);
							}
						}
					}
					button {
						&.option-button {
							border-radius: 6px;
							padding: 6px 12px;
							color: #f6f3f6;
							background-color: #404040;
							cursor: pointer;
							&.button-link {
								background: none;
								color: var(--font-dark);
								border: none;
							}
						}
					}
				}
			}
			&.active-option {
				background-color: var(--light-bg);
				.option-container {
					.option-header {
						svg {
							fill: var(--light-bg);
							circle {
								stroke: #8a8a8a;
							}
						}
					}
					.option-details {
						display: block;
					}
				}
			}
			// .guide-option {
			// 	margin-right: 8px;
			// }
			// .guide-option-right {
			// 	margin-top: 4px;
			// }
		}
	}
}

/* Desktop Styles- */
@media screen and (min-width: 768px) {
}
